@import compass/css3
@import mixins/variables

@mixin primary_text
  color: #000
  opacity: 0.86

@mixin secondary_text
  color: #000
  opacity: 0.54

@mixin disabled_text
  color: #000
  opacity: 0.26

@mixin divider
  color: #000
  opacity: 0.12
