@import compass/css3
@import mixins/font-smoothing
@import mixins/variables

.dashboards.show
  .content
    .profile
      width: 100px
      position: relative

      .avatar
        +border-radius(50px)
        background-color: $primary_color
        display: inline-block
        height: 100px
        vertical-align: top
        width: 100px

      .badge
        +border-radius(16px)
        background-color: #fff
        border: 2px solid $primary_color
        color: $primary_color
        font-size: 20px
        font-weight: 700
        height: 28px
        line-height: 26px
        position: absolute
        right: 0
        text-align: center
        width: 28px
        z-index: 2

    .quests
      display: inline-block
      min-height: 100px
      vertical-align: top
      width: 520px
      margin: 50px 50px

      ul
        margin-top: 30px
        padding-left: 0

      a
        color: $primary_color
        display: inline-block
        font-size: 26px
        height: 50px
        margin-bottom: 20px

        .logo
          +border-radius(26px)
          background-color: $primary_color
          color: #fff
          display: inline-block
          font-weight: 400
          height: 50px
          line-height: 50px
          margin-right: 8px
          text-align: center
          width: 50px

          &.disabled
            background-color: $disabled_color
      .schedules
        ul
          margin: 10px 0 20px 0

    .menu
      display: inline-block
      height: 40px
      vertical-align: top
      width: 40px

      li
        margin-bottom: 10px
